// Specific CSS for your home-page
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  
  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .card-category {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h1{
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    text-align: center;
  }
  p{
    text-align: center;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    text-size: 16px;
  }

  li{
    color: #grey;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    padding: 5px;
  }

  ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
input {
  border-radius: 32px !important;
}

.col {
  flex: 1 1 0% !important;
  display: -webkit-flex !important;
}

button {
  border-radius: 64px !important;
}