#name {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -.2px;
    font-weight: 900;
    text-transform: none;
}

.li {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -.2px;
    font-weight: 500;
    text-transform: none;

}

#stars {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 44px;
    letter-spacing: -.2px;
    font-weight: 600;
    text-transform: none;

}