.booking-card{
  border: #5CCA80 2px solid;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 20px;
}

.booking-delete-link {
      position: absolute;
      bottom: 30px;
      left: 18px;
      padding-bottom: 30px;
    }
