<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://specials-images.forbesimg.com/imageserve/5c09af4a31358e5b4338fbfb/960x0.jpg?cropX1=0&cropX2=5184&cropY1=410&cropY2=3175);">
  <div class="container">
    <h1>Rent a <strong>motorcycle</strong> anywhere <strong>in the world</strong>!</h1>
    <p>Book unforgettable bikes from trusted hosts around the globe</p>
    <div class="form-group row">
      <div class="col-sm-10">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= form_tag motorcycles_path, html: { autocomplete: "off" }, method: :get do %>
            <%= text_field_tag :query,
                               params[:query],
                               autocomplete: 'off',
                               class: "form-control",
                               placeholder: "Location"
            %> <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="col">
          <input type="date" class="form-control" placeholder="From">
        </div>
        <div class="col">
          <input type="date" class="form-control" placeholder="Until">
        </div>
      </div>
    </div>
  </div>
</div>
